<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="run tests">
	<test name="Tests in Chrome">
		<!--<parameter name="browserName" value="chrome" /> -->
		<classes>
			<class name="com.client.project.qa.at.tests.NewTest" />
		</classes>
	</test>
</suite>